
<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-wrap">
				<a href="" class="logo"><span>IZI</span>Stroy</a>
				<div class="logo-info">Единая система покупки товаров для ремонта</div>
			</div>
			<div class="contacts-wrap">
				<div class="email-wrap">
					<a href="mailto:info@mail.ru" class="btn-cnt cnt-email">info@mail.ru</a>
				</div>
				<div class="phone-wrap">
					<a href="tel:80000000000" class="btn-cnt cnt-phone">+7(000)000-00-00</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-vb.svg" alt="">
					</a>
				</div>
				<div class="soc-wrap">
					<div class="soc-title">Мы в соц. сетях</div>
					<div class="soc-buttons">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-yt.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-inst.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-tw.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-fb.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="rate-wrap">
				<img src="./img/main/yandex.png" alt="">
			</div>
		</div>
	</div>
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="copy-wrap">2022. Все права защищены. <br>Политика конфеденциальности</div>
		</div>
	</div>
</footer>
<!-- /footer -->

<!--popup-box-->
<div class="popup-box js-popup" data-popup="popup-order">
	<div class="popup-content-block">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Заказать с доставкой</div>
			<p>Оставьте свои контакты и наш менеджер перезвонит вам в течение нескольких минут</p>
		</div>
		<form action="/" class="popup-form-wrap">
			<div class="frm-row">
				<input type="text" class="form-input" placeholder="Ваше имя">
			</div>
			<div class="frm-row">
				<input type="tel" class="form-input" placeholder="Телефон">
			</div>
			<div class="frm-row row-center">
				<div class="frm-field-file js-field-file">
					<input type="file">
					<a href="" class="btn-action-file js-file-button" data-title="Прикрепить смету">Прикрепить смету</a>
				</div>
			</div>
			<div class="frm-row row-info">Даю согласие на обработку Персональных данных</div>
			<div class="frm-row-submit">
				<button type="submit" class="btn">Заказать</button>
			</div>
		</form>
	</div>
</div><!--/popup-box-->