
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo"><span>IZI</span>Stroy</a>
			<div class="logo-info">Единая система покупки товаров для ремонта</div>
		</div>
		<div class="order-wrap">
			<a href="" class="btn button-second button-border button-small js-popup-open" data-popup="popup-order">Сделать заказ с доставкой</a>
		</div>
		<div class="contacts-wrap">
			<div class="location-wrap">
				<a href="" class="btn-header-location">Москва и МО</a>
			</div>
			<div class="phone-wrap">
				<a href="tel:80000000000" class="link-phone">+7(000)000-00-00</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->